/* G마켓 산스 폰트 */
@font-face{ font-family: 'GmarketSansMedium'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff')
    format('woff'); font-weight: normal; font-style: normal;}
/* G마켓 산스 폰트 종료 */

/* button hover 첫화면 CSS*/
body *{list-style-type: none;
    margin: 0; padding: 0; box-sizing: border-box; 
}

.first-main{
    height: 100vh; display: flex; justify-content: center; align-items: center;
}

.first-main>button{
    font-size: 2.2rem; padding: 40px 60px; background:white; color:black; border: 3px solid black;
    border-radius: 25px; letter-spacing: 3px; font-family:'GmarketSansMedium'; box-shadow:8px 8px 8px rgba(0, 0, 0, 0.5);
}

.first-main>button:hover{
    background: black; color:white; animation:main-btn 3s ease-out infinite; cursor:pointer;
}

@keyframes main-btn {
    0%{background:white; color:black;}
    50%{background: black; color:white;}
    100%{background:white; color:black;}
}

/* main.html 시작 */

/* login-wrap */

a {text-decoration: none; color:initial;}
a:hover {opacity: 0.5;
    text-decoration: underline;}

.login-wrap{
    display: flex;
    align-items: center; /* 수직 정렬을 위해 추가 */
    justify-content: flex-end; /* 오른쪽 정렬 */
    margin-right: 20px; /* 오른쪽 여백 추가 */
    padding: 30px;
}

.login-wrap>div{ 
    border-radius: 25px; background:#0076C0; color:white; padding: 13px; font-weight:bold ;
}

.login-wrap ul { 
    display: flex; margin-left: 50px;
}


.login-wrap ul li{ 
    display: flex; margin-left: 55px; margin-right:20px;
}

/* login-wrap END */

/* gnd-wrap */
.gnd-wrap img{
    width:200px; margin-left: 80px; float: left;
}

.menu-list{ font-family: 'GmarketSansMedium';
    display: flex;
}

.menu-list ul{
    display: flex; width: 85%;
}

.menu-list ul li{
    width: 100%;   margin: 50px 0 0 150px; font-size: 1.1rem;
}
.menu-list ul li:hover{
    opacity: 0.5;
}

header div:nth-of-type(2) button{ 
    border: none; cursor: pointer; background: none; margin-top:30px;
}

header div:nth-of-type(2) button img{
    width: 60px;
}

/* gnd-wrap END */






/* footer */

/* footer main */ 
.footer-main-wrap{
    width: 100%; height:350px;
}

.footer-color{
    background: #0076C0; width: 100%; height:400px;
}

.footer-color>div:nth-of-type(1){
    background:url(./img/footer-main-img.avif)no-repeat center top / cover; width:25%; height:150px;
    margin-left:37%;
}

.footer-color-bottom{
    width: 100%; height: 70px; background: #0b34a7; display: flex;
}

.footer-color div:nth-of-type(2){
    display: flex;  justify-content: space-around; margin-top: 30px;
}

.footer-color div:nth-of-type(2)

/* footer Don'twithout it 부분 */
.footer-color-bottom{display: flex;}
.footer-color-bottom>div:nth-child(1){
    background: url(./img/footer-main-bottom1.avif)no-repeat center; width: 50%; height: 100px;
}
.footer-color-bottom>div:nth-child(2){
    background: url(./img/footer-main-bottom2.avif)no-repeat center; width: 50%; height: 100px;
}
/* footer Don'twithout it 부분 */


.footer-information>div:nth-of-type(1){
    background: url(./img/footer-logo.svg)no-repeat center top; width: 400px; height: 100px;
    margin-top: 180px;
}




/* footer logo , 정보 */
.footer-information>div:nth-of-type(2){display: flex; margin: -50px 0 0 70px; gap: 30px;}

.one{
    background: url(./img/youtube-icon.png)no-repeat center / cover; width: 90px; height: 90px; margin-top:-15px;
}
.two{
    background: url(./img/x-icon.jpg)no-repeat center / cover; width:55px; height:55px;
}
.three{
    background: url(./img/insta-icon.png)no-repeat center / cover; width:55px; height:55px;
    border-radius: 50px;
}

.footer-information div:nth-of-type(3) ul{display: flex; gap: 50px; margin-left: 70px;}

.footer-information div:nth-of-type(4) p {
    margin: 20px 0 0 70px;
}


/* footer logo , 정보 */
