/* G마켓 산스 폰트 */
@font-face{ font-family: 'GmarketSansMedium'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff')
    format('woff'); font-weight: normal; font-style: normal;}
/* G마켓 산스 폰트 종료 */

/* button hover 첫화면 CSS*/
body{
    margin: 0; padding: 0; box-sizing: border-box;
}

.first-main{
    height: 100vh; display: flex; justify-content: center; align-items: center;
}

.first-main>button{
    font-size: 2.2rem; padding: 40px 60px; background:white; color:black; border: 3px solid black;
    border-radius: 25px; letter-spacing: 3px; font-family:'GmarketSansMedium';
}

.first-main>button:hover{
    background: black; color:white; animation:main-btn 3s ease-out infinite;
}

@keyframes main-btn {
    0%{background:white; color:black;}
    50%{background: black; color:white;}
    100%{background:white; color:black;}
}
