/*G마켓 산스 폰트 */
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;}
/*G마켓 산스 폰트 종료 CDN 형식*/

body{ height: 100vh; display: flex; justify-content: center; align-items: center; background-color: rgb(0, 88, 171); }

.main-btn{width: 600px; height:150px; font-size: 2.5em; padding:15px 30px; border:3px solid RGB(251, 217, 20); background-color: transparent;
color:RGB(251, 217, 20); letter-spacing: 6px; font-weight: bold; position: relative; transition: 0.6s; border-radius:25px 0 25px 0 ;
overflow: hidden; font-family: 'GmarketSansMedium';} /* brfore을 자식으로 둘 수 있도록 relative 지정 노란 박스는 hidden 으로 안보이게 처리 */

.main-btn:focus{outline: none;}

.main-btn::before{content: ""; position: absolute; height: 100%; width: 100%; background-color:RGB(251, 217, 20); 
top:100%; left:0; transition: 0.6s; z-index:-1;} /*부모 요소를 main btn으로 지정(relative 지정) top, left0 으로 위치조절 ,, 하지만!! 아래에서 위로 박스를 올려야 하기 때문에 top100% */

.main-btn:hover::before{transform: translateY(-100%);}
.main-btn:hover{color:rgb(0, 88, 171);}/* 글씨가 안보이는 이유는 당연히 Z 문제 Z-index 조절//before에다가 인덱스 조절 */