body{ margin: 0; padding: 0; background-color: rgb(0, 88, 171); }

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;}

body h1{font-family: 'GmarketSansMedium';}
/* main.html 로딩 */
.rodding-animation-wrapper{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); justify-content: center; align-items: center;}
.rodding-animation{width: 30px; height: 30px; background:#d9d9d9; border-radius: 25px; position: absolute; animation: move-rodding-animation 1.3s infinite;}
.rodding-animation:nth-child(2){margin-left: 50px; animation-delay: 0.1s;}
.rodding-animation:nth-child(3){margin-left: 100px; animation-delay: 0.2s;}
.rodding-animation:nth-child(4){margin-left: 150px; animation-delay: 0.3s;}
.rodding-animation:nth-child(5){margin-left: 200px; animation-delay: 0.4s;}
.rodding-animation:nth-child(6){margin-left: 250px; animation-delay: 0.5s;}



/* main.html 로딩 모양 anymation */
@keyframes move-rodding-animation{
    0%{transform: translate(0,0) scale(1);
        background:RGB(251, 217, 20);
    }
    50%{transform: translate(0,230%) scale(0.7);
    }
    100%{transform:translate(0,0) scale(1);}
}

@media screen and (max-width: 767px) {
    body h1 {
        font-size: 1.5rem;
    }

    .rodding-animation-wrapper {
        transform: translate(-50%, -50%);
        flex-direction: column;
        padding: 20px;
    }

    .rodding-animation {
        width: 20px;
        height: 20px;
    }

    .rodding-animation:nth-child(2) {
        margin-left: 30px;
    }

    .rodding-animation:nth-child(3) {
        margin-left: 60px;
    }

    .rodding-animation:nth-child(4) {
        margin-left: 90px;
    }

    .rodding-animation:nth-child(5) {
        margin-left: 120px;
    }

    .rodding-animation:nth-child(6) {
        margin-left: 150px;
    }
}
